<!DOCTYPE html>
<html lang="en">

<!--Entete Page Index-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href='/css/index.css'>
    <link rel='icon' href="/img/favicon.ico" type='image/ico'>
</head>

<!--Block body-->
<body>

    <div id="main">
        <div class="loader">
            <span></span>
        </div>
        <div id="box1"></div>

        <div id="box2">
            <div id="text">
                GROUPIE <br>TRACKER
            </div>
        </div>

<!--Box Menu Page Index Redirection Page About-->
        <div id="box3">
            <div id="container">
                <div id="logo">
                    <img src="/img/rs3.png">
                </div>
                <div id="menu">
                    <ul>
                        <a  href="/">
                            HOME
                          </a>
                          <a  href="/artist">
                            ARTIST
                          </a>
                          <a  href="/contact">
                            CONTACT
                          </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>
<!--/Block Body-->